<div>
  <div>
    <h1>Champion, bienvenue dans l'arène</h1> 
  </div>
  <div> 
    <h2>Menu</h2>
    <ul>
      <li><%= link_to "Liste des champions", champions_path %></li>
      <li><%= link_to "Liste des armes", weapons_path %></li>
      <li>Historique des combats</li>
    </ul>
  </div>
</div>




