<%= button_to "Back", root_path, method: "get" %>

<ul>
  <% @champions.each do |champion| %>
    <li><%= link_to champion.name, champion_path(champion) %></li>
  <% end %>
</ul>

<%= button_to "New", new_champion_path, method: "get" %>